[submodule "third/rapidjson"]
	path = third/rapidjson
	url = https://github.com/Tencent/rapidjson.git
[submodule "third/boost"]
	path = third/boost
	url = https://github.com/boostorg/boost.git
[submodule "third/argh"]
	path = third/argh
	url = https://github.com/adishavit/argh.git
